header {
    display: flex;
    border: 5px solid black;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(black, white)
    


    }
aside {
    width: 20%;
    border-right: 5px solid black;
    background-color: white;
    margin-right: 2em;
}
#title {
    width: 15%;
    color: white;
    padding-left: 1em;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.navigation li {
    padding-right: 15px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    padding-left: 20px;
    
}

#buffer, footer {
    width: 100%;
    height: 80px;
    line-height: 40px;
    background-color: blue;
    text-align: center;
    /* line-height: 5; */
}

/* main {
    background-color: gainsboro;
} */
.banner {
    position: absolute;
    /* top: 50%; */
    width: 60%;
    background-color: white;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  height: 20px;
  left: 0;
}
.banner h4 {
    margin: 0 auto;
}
.img-box {
    position: relative;
    text-align: center;
}

.row {
    flex: 0 0 80%;
}
.img-box {
    margin: 1em;
}

.row2 {
    display: flex;
  
}
/* .row2 div {
    margin: 1em; */


.about, .work, .contact{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;



}
.about-me, .my-work
{
   
}
.my-work {
    flex-direction: column;
    /* flex: 0 0 80%; */
}


.contact-me {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    align-items: flex-end;
    justify-content: space-between;
    width: 68%;
}

#contact-me {
    margin-block-start: 0%;
    padding-inline-start: 0%;
}

#footer {
    justify-content: center;
    background-color: blue;
    align-items: center;
    line-height: 3;
    text-align: center;
    font-size: larger;
}

.img-box:hover {
    box-shadow: 0 0 10px black inset;
}

@media screen and (max-width: 768px) {
    .about, .work, .contact, .row2,
    .contact-me {
        flex-wrap: wrap
    }
    aside {
        border-bottom: 5px solid black;
        border-right: 0px;
    }
    /* .row .img-box {
        flex-basis: 50%;
        width: 50%;
    } */
    .contact-me, .contact{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: block;
    }
    .top {
        flex-wrap: wrap;
    }

}
